@font-face{font-family: CODE_LIGHT;
    src: url('fonts/code_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#popup h3 {
	font-family: CODE_LIGHT;
	padding: 0 10px;
}
#popup{
	background: repeating-linear-gradient(45deg, white, white 1.5%, transparent 1.5%, transparent 3%), linear-gradient(#DFDFDF, #FFFFFF);
	z-index: 3;
	top: 5px;
	right: 5px;
	width: 20%;
	position: absolute;
	margin: 15px;
	height: 25%;
	overflow-y: scroll;
	overflow-x: hidden;
}
#popup #result { padding: 10px; }
#popup #result p { margin-top: 0;}

.descriptions {
	margin-bottom: 10px;
	line-height: 1.2em;
}