@font-face{font-family: CODE_LIGHT;
    src: url('fonts/code_light.eot');
    src: url('fonts/code_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/code_light.woff') format('woff'),
         url('fonts/code_light.ttf') format('truetype'),
         url('../fonts/code_light.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1{font-family: CODE_LIGHT;}
#popup{background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 1.5%, rgba(155, 155, 155, 0) 1.5%, rgba(155, 155, 155, 0) 3%), linear-gradient(#DDDDDD, #FFFFFF)}
